body {
  text-align: center;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.card-body {
margin-top: 20px;

}